/**
 * slizaa-web - Slizaa Static Software Analysis Tools
 * Copyright © 2019 Code-Kontor GmbH and others (slizaa@codekontor.io)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
.grid {
    stroke: #D1AE54;
    stroke-width: 1px;
    fill: #D1AE54;
  }

  .arc {
    stroke:#D1AE54;
    fill: none;
  }
  
  .node {
    fill: #EBD8C1;
    stroke: #D1AE54;
    stroke-width: 1px;
  }
  
text {
    text-anchor: end;
    font-size: 12px;
    font-family: sans-serif;
    font-feature-settings: 'tnum';
    font-variant: tabular-nums;
    line-height: 1.5;
    fill: rgba(0, 0, 0, 0.65);
  }

#stage {
    position: relative;
}
canvas { position: absolute; }
#markedCellLayer { z-index: 2}
#main { z-index: 1}