/**
 * slizaa-web - Slizaa Static Software Analysis Tools
 * Copyright © 2019 Code-Kontor GmbH and others (slizaa@codekontor.io)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
@import '~antd/dist/antd.css';

.ant-menu, .ant-menu-left {
  border-right: none;
}

.ant-layout-header {
 background-color:white;
  height: 45px;
  line-height: 45px;
}

.main-view-sider-logo {
  background-color: #fff;
}

.ant-layout {
  background-color: #e4e5e6;
}

.ant-layout-sider {
  background-color: #D4D7D9;
  border-right: 1px solid #9DA0A2;
}

.ant-menu {
  margin-top: 10px;
  background-color: #D4D7D9;
}

.ant-menu-item {
  color: rgba(123, 121, 122, 1.00);
}

.ant-menu-item > a {
  display: inline;
  color: rgba(123, 121, 122, 1.00);
  font-size: 0.85rem;
}

.ant-menu-item > a:hover {
  color: rgba(123, 121, 122, 1.00);
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgb(228, 229, 230);
  font-weight: 600;
}

.ant-menu-item::after {
  border-right: 3px solid rgba(123, 121, 122, 1.00) !important;
}

.mr5 {
  margin-right: 5px;
}

.ml5 {
  margin-left: 5px;
}

.trigger {
  vertical-align: middle;
  font-size: 18px;
  line-height: 45px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}
