/**
 * slizaa-web - Slizaa Static Software Analysis Tools
 * Copyright © 2019 Code-Kontor GmbH and others (slizaa@codekontor.io)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
.slizaa-tree {
  font-size: 12px;
  height: 100%;
}

.ant-tree-child-tree > li:first-child {
  padding-top: 0px;
}

.ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: #C8CEd3;
}

li.slizaa-tree-node-marked > span > span.ant-tree-title{
  font-weight: bold;
}

/*li.slizaa-tree-node-unmarked:not(.ant-tree-treenode-selected) > span > span.ant-tree-title{
  color: #C8CEd3;
}*/

